@import "partial/amazing.css";
@import "partial/carousel.css";
@import "partial/register.css";
@import "partial/bestseller.css";

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
/*author fatemehabds*/
body {
  direction: rtl;
}
@font-face {
  font-family: persianfont;
  src: url(../font/Yekan.ttf);
  scr: url(../font/Yekan.woff);
  scr: url(../font/Yekan.woff2);
}
div {
  font-family: persianfont;
  text-align: right;
}
/* header image*/

div.header {
  height: 70px;
  width: 100%;
  background-image: url(../image/nwahead.jpg);
  background-position: top center;
  background-size: cover;
}
/*this is search box*/
div.search {
  position: relative;
  padding: 3px;
  display: flex;
  line-height: 1.5em;
  background-color: rgb(254, 255, 255);
}

img.logo {
  height: 30px;
  width: 115px;
  vertical-align: middle;
  margin-top: 8px;
}

div.search2 {
  margin-top: 5px;
  height: 30px;
  width: 40%;
  background-color: #f0f0f1;
  border-radius: 11px;
  padding: 3px;
  margin-right: 15px;
  font-size: 14px;
}
div.login {
  width: 120px;
  height: 40px;
  border: 1px solid #ceced2;
  border-radius: 12px;
  position: absolute;
  left: 100px;
}
div.login > a {
  display: block;
  text-decoration: none;
  padding-right: 10px;
  line-height: 40px;
  color: #0f0f0f;
  font-size: 13px;
  font-weight: 600;
}
div.login > i {
  display: block;
}
div.buy {
  position: absolute;
  left: 50px;
  top: 10px;
}
div.buy > a {
  color: #0f0f0f;
}
div.city {
  width: 200px;
  height: 40px;

  position: absolute;
  left: 100px;

  top: 50px;
  left: 20px;
}
div.city > a {
  display: block;
  text-decoration: none;
  padding-right: 10px;
  line-height: 40px;
  color: #0f0f0f;
  font-size: 15px;

  color: #565659;
}

/*this is the first menu*/
div.menu {
  margin-right: 10px;

  font-size: 15px;
}
div.menu > nav > ul {
  width: 100%;
  height: inherit;
  list-style: none;
  padding: 0%;
}
div.menu > nav > ul > li {
  display: inline-block;
  width: auto;
  height: inherit;
}
div.menu > nav > ul > li > div.submenu {
  position: absolute;
  width: 98vw;
  height: 600px;
  /* background-color: #3c4339; */
  z-index: 2;
  right: calc(50% - 98vw / 2);
  display: none;
  background-color: white;
}
div.menu > nav > ul > li > div.submenu > div.right {
  width: 13%;
  height: inherit;
  background-color: white;
}
div.menu > nav > ul > li > div.submenu > div.right > ul {
  width: 100%;
  height: inherit;
  /* background-color: lightsalmon; */
  list-style: none;
}
div.menu > nav > ul > li > div.submenu > div.right > ul > li {
  width: inherit;
  height: 40px;
  margin-bottom: 5px;
}
div.menu > nav > ul > li > div.submenu > div.right > ul > li > a {
  display: block;
  height: inherit;
  width: inherit;
  text-align: right;
  font-weight: 600;
  padding-right: 20px;
  text-decoration: none;
  color: #444446;
  font-size: 13px;
  line-height: 40px;
  transition: 400ms;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  -o-transition: 400ms;
}
div.menu > nav > ul > li > div.submenu > div.right > ul > li > a:hover {
  color: #f3263e;
  background-color: #56565950;
}
div.menu > nav > ul > li > div.submenu > div.right > ul > li > div.lin {
  width: 87%;
  height: 600px;
  border-right: 1px solid rgb(119, 115, 115);
  position: absolute;
  left: 0%;
  top: 0%;
  display: none;
  background-color: white;
}
div.menu > nav > ul > li > div.submenu > div.right > ul > li:hover > div.lin {
  display: block;
  display: flex;
}

div.menu
  > nav
  > ul
  > li
  > div.submenu
  > div.right
  > ul
  > li
  > div.lin
  > div.first1,
div.menu
  > nav
  > ul
  > li
  > div.submenu
  > div.right
  > ul
  > li
  > div.lin
  > div.second2,
div.menu
  > nav
  > ul
  > li
  > div.submenu
  > div.right
  > ul
  > li
  > div.lin
  > div.third,
div.menu
  > nav
  > ul
  > li
  > div.submenu
  > div.right
  > ul
  > li
  > div.lin
  > div.forth {
  display: inline-block;
  width: 20%;
  height: inherit;
}

div.menu
  > nav
  > ul
  > li
  > div.submenu
  > div.right
  > ul
  > li
  > div.lin
  > div.first1
  > a,
div.menu
  > nav
  > ul
  > li
  > div.submenu
  > div.right
  > ul
  > li
  > div.lin
  > div.second2
  > a,
div.menu
  > nav
  > ul
  > li
  > div.submenu
  > div.right
  > ul
  > li
  > div.lin
  > div.third
  > a,
div.menu
  > nav
  > ul
  > li
  > div.submenu
  > div.right
  > ul
  > li
  > div.lin
  > div.forth
  > a {
  display: block;
  width: 260px;
  margin-bottom: 3px;
  height: 30px;
  text-align: right;
  padding-right: 20px;
  text-decoration: none;
  color: #7d7d80;
  font-size: 12px;
  font-weight: 600;
  line-height: 30px;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}
div.menu
  > nav
  > ul
  > li
  > div.submenu
  > div.right
  > ul
  > li
  > div.lin
  > div.first1
  > a
  > i,
div.menu
  > nav
  > ul
  > li
  > div.submenu
  > div.right
  > ul
  > li
  > div.lin
  > div.second2
  > a
  > i,
div.menu
  > nav
  > ul
  > li
  > div.submenu
  > div.right
  > ul
  > li
  > div.lin
  > div.third
  > a
  > i,
div.menu
  > nav
  > ul
  > li
  > div.submenu
  > div.right
  > ul
  > li
  > div.lin
  > div.forth
  > a
  > i {
  color: #f3263e;
  margin-left: 5px;
}
div.menu
  > nav
  > ul
  > li
  > div.submenu
  > div.right
  > ul
  > li
  > div.lin
  > div.first1
  > a:hover,
div.menu
  > nav
  > ul
  > li
  > div.submenu
  > div.right
  > ul
  > li
  > div.lin
  > div.second2
  > a:hover,
div.menu
  > nav
  > ul
  > li
  > div.submenu
  > div.right
  > ul
  > li
  > div.lin
  > div.third
  > a:hover,
div.menu
  > nav
  > ul
  > li
  > div.submenu
  > div.right
  > ul
  > li
  > div.lin
  > div.forth
  > a:hover {
  color: #f3263e;
}

div.menu > nav > ul > li:hover > div.submenu {
  display: block;
}
div.menu > nav > ul > li > a {
  display: block;
  height: inherit;
  width: inherit;
  text-decoration: none;
  line-height: 50px;
  padding: 0 10px;
  text-decoration: none;
  color: #565659;
  transition: 400ms;
  font-size: 14px;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  -o-transition: 400ms;
}
div.menu > nav > ul > li > a > i {
  font-size: 10px;
}

div.menu > nav > ul > li > a:hover {
  text-shadow: 5px 5px 5px #565659;
  color: #ef3b51;
}
div.menu > nav > ul > li > ul {
  list-style: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.908);
  height: auto;
  width: 200px;
  display: none;
}

div.menu > nav > ul > li > ul > li > a {
  display: block;
  height: inherit;
  width: inherit;
  text-decoration: none;
  line-height: 50px;
  padding: 0 10px;
  text-decoration: none;
  color: #444446;
  font-weight: 600;

  transition: 400ms;
  font-size: 13px;
  transition: 400ms;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  -o-transition: 400ms;
}
div.menu > nav > ul > li:hover > ul {
  display: block;
  z-index: 2;
}

/*first image*/
div.product {
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
}
/*second menu*/
figcaption{
  
  color: #424141;
  font-size: 13px;
}
td {
  text-align: center;
}
div.table {
  font-size: 15px;
}
div.amazing {
  margin: 50px auto;
  width: 1330px;
  height: 300px;
  background-color: #ef3b51;
  border-radius: 15px;
}

div.amazing > div.pr3 {
  width: calc(100% - 70px);
  height: 290px;
  margin: 0 auto;
  padding-top: 5px;
}
div.amazing > p {
  padding: 20px;
  font-weight: 600;
  font-size: large;
  color: white;
}
div.supermarket {
  margin: 50px auto;
  width: 1330px;
  height: 102px; /*39AE00 */
  background-color: #d4e7d4;
  border-radius: 15px;
  display: flex;
}
div.supermarket > p {
  align-self: center;
  padding: 20px;
  font-weight: 600;
  color: #39ae00;
}
div.supermarket > div {
  background-color: #ffffff;
  width: 85px;
  height: 85px;
  margin: 10px;
  text-align: center;
  line-height: 15px;
  font-size: 15px;
  border-radius: 85px;
  overflow: hidden;
}
div.supermarket > div > img {
  height: 50px;
  width: 50px;
}
/*products on sale*/
div.sale {
  margin: 50px auto;
  width: 1330px;
  height: 270px;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
}
div.sale > div {
  background-color: #ffffff;
  width: 314px;
  margin: 10px;
  line-height: 75px;
  border-radius: 15px;
  overflow: hidden;
}
div.sale > div > img {
  width: 310px;
  height: 250px;
  border-radius: 15px;
}
/*second images*/

div.product2 {
  margin: 50px auto;
  width: 1330px;
  height: 270px;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
}
div.product2 > div {
  background-color: #ffffff;
  width: 650px;
  margin: 10px;
  line-height: 75px;
  overflow: hidden;
  border-radius: 15px;
}
div.product2 > div > img {
  width: 650px;
  height: 250px;
  border-radius: 15px;
}
/*this is brands*/

div.digi > h2 {
  text-align: center;
}
div.brands {
  margin: 50px auto;
  width: 1330px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  border-style: solid;
  border-color: #c4c4cc;
  border-width: 1px;
}
div.brands > div {
  background-color: #ffffff;
  width: 260px;
  margin: 10px;
  line-height: 75px;
  border-left: 1px solid #c4c4cc;
  overflow: hidden;
}
/*this is footer*/
div.footer {
  float: right;
}
div.footer > img {
  height: 10px;
  height: 30px;
}
div.footer > p {
  font-size: 15px;
  color: #373737;
}
hr {
  width: 1515px;
  size: 1;
  color: #565659;
  text-align: center;
}
/*this is services, post, delivery*/

div.post {
  margin: 50px auto;
  width: 100%;
  height: 110px;
  background-color: #ffffff;
  display: flex;
  margin-top: 20px;
}
div.post > div {
  background-color: #ffffff;
  width: 289px;
  margin: 10px;
}
div.post > div > figure > img {
  margin-right: 117px;
}
div.post > div > figure > figcaption {
  text-align: center;
  margin-top: 0%;
  color: #373737;
  font-size: 13px;
}
/* download the application*/
div.application {
  margin: 50px auto;
  width: 1477px;
  height: 86px;
  background-color: #3c4b6d;
  border-radius: 15px;
  display: flex;
}
div.footerlogo > img {
  width: 44px;
  height: 44px;
  margin: 23px auto;
  margin-right: 15px;
}
div.dl > p {
  color: #ffffff;
  margin-right: 20px;
  font-size: 27px;
  line-height: 75px;
}
div.google {
  margin-right: 400px;
  margin-top: 20px;
}
div.bazar,
div.sib,
div.myket {
  margin-right: 20px;
  margin-top: 20px;
}
/* this is enamad, kasbokar, sabt*/
div.end {
  margin: 35px auto;
  width: 1510px;
  height: 200px;
  background-color: #ffffff;
  display: flex;
}
div.end > div {
  background-color: #ffffff;
  width: 750px;
  margin: 10px;
  text-align: right;
  line-height: 20px;
  font-size: 15px;
  border-radius: 15px;
}
div.digikala > p {
  color: #373737;
  font-size: 13px;
}
div.digikala > h5 {
  text-align: right;
}
div.namad {
  display: flex;
}
div.namad > div {
  margin: 70px auto;
}
div.namad > div > img {
  width: 70px;
  height: 70px;
}
div.feature {
  margin: auto;
  width: 1223px;
  height: 204px;
  padding: 50px;
  margin-bottom: 100px;
  display: flex;
}
div.feature > div {
  margin: 25px;
}

div.feature > div > a > img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
div.feature > div > a {
  text-decoration: none;
  color: #444446;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
}
div.feature > div > a > p {
  margin-top: -18px;
}
div.mobile {
  margin: 50px auto;
  width: 1280px;
  height: 308px;

  display: flex;
}

div.mobile > div {
  margin: 10px;
}
div.mobile > div > img {
  height: 307px;
  width: 410px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
div.mainoffer {
  border-radius: 15px;
  border: 1px #c4c4cc solid;
  width: 1330px;
  height: 300px;
  margin: 0 auto;
}

div.offer {
  margin: 0px auto;
  width: 1302px;
  height: 155px;

  display: flex;
}
div.offer > div > a > img {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}
div.offer > div > a,
div.cat > div > a,
div.cat2 > div > a {
  text-decoration: none;
  color: #0f0f0f;
  /* font-weight: 600; */
  font-size: 14px;
  text-align: center;
}
div.offer > div > a > p,
div.cat > div > a > p,
div.cat2 > div > a > p {
  margin-top: -10px;
  font-weight: 600;
  color: #565659;
}
div.offer > div {
  margin: 20px 53px;
}
div.cat {
  width: 1304px;
  height: 211px;
  margin: 50px auto;

  display: flex;
}
div.cat > div,
div.cat2 > div,
div.leitu > div,
div.home > div {
  margin-left: 30px;
}
div.cat > div > a > img,
div.cat2 > div > a > img {
  width: 170px;
  height: 170px;
}
div.cat2 {
  width: 1004px;
  height: 211px;
  display: flex;
  margin: 0px auto;
}

div.leitu,
div.home {
  width: 1300px;
  height: 258px;
  display: flex;

  margin: 50px auto;
}
div.leitu > div > img,
div.home > div > img {
  height: 257px;
  width: 644px;
  border-radius: 15px;
}
div.club {
  margin: 50px auto;
  width: 1477px;
  height: 86px;
  background-color: #007295;
  border-radius: 15px;
  display: flex;
}
div.club > div {
  position: relative;
  line-height: 86px;
}
div.club > div.svg {
  margin: 10px;
  margin-right: 25px;
}
div.club > div.svg > img {
  fill: white;
}
div.g {
  margin-right: 500px;
  width: 250px;
  height: 70px;
  background-color: white;
  border-radius: 5px;
  line-height: 70px;
  position: absolute;
  top: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
div.g > a > img,
div.m > a > img,
div.gi > a > img {
  width: 168px;
  height: 60px;
  object-fit: cover;
  line-height: 70px;
  border-radius: 5px;
  position: absolute;
  top: 5px;
  left: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
div.m,
div.gi {
  margin-right: 5px;
  margin-left: 5px;
  width: 250px;
  height: 70px;
  background-color: white;
  border-radius: 5px;
  line-height: 70px;
  position: absolute;
  top: 10px;
}
div.g > p,
div.m > p,
div.gi > p {
  line-height: 70px;
  font-size: 13px;
  margin-right: 5px;
  font-weight: 600;
}
div.plus {
  width: 1333px;
  height: 380px;
  background-color: #941b80;
  margin: 50px auto;
  border-radius: 15px;
  position: relative;
  display: flex;
}
div.plus > div.svgp {
  position: absolute;
  top: 40px;
  right: 40px;
}
div.plus > div.svgp > p {
  color: white;
  font-size: 15px;
  margin-top: 10px;
}
div.reg > a {
  text-align: center;
  display: block;
  width: 100px;
  height: 30px;
  border: 1px solid #f0f0f1;
  border-radius: 7px;
  line-height: 30px;
  text-decoration: none;
  font-size: 15px;
  color: white;
}
div.reg {
  margin-top: 15px;
}
div.pimage {
  position: absolute;
}
div.pimage > img {
  height: 180px;
  width: 230px;
  object-fit: cover;
}
div.plus > div.cash {
  width: 450px;
  height: 330px;
  background-color: white;
  position: absolute;
  left: 550px;
  top: 25px;
  border-radius: 6px;
}
div.plus > div.fast {
  width: 450px;
  height: 330px;
  background-color: white;
  position: absolute;
  left: 50px;
  top: 25px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

div.plus > div.cash > div.hedi {
  width: 404px;
  height: 66px;
  /* background-color: #3c4b6d; */
  margin: 0 auto;
  display: flex;
  position: relative;
}
div.plus > div.cash > div.hedi > div.tex {
  font-size: 13px;
  margin-right: 10px;
  margin-left: 190px;
  font-weight: 600;
}
div.plus > div.cash > div.hedi > div.rii > a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  display: block;
  font-weight: 600;
}
div.plus > div.fast > div.hedi {
  width: 404px;
  height: 66px;
  /* background-color: #3c4b6d; */
  margin: 0 auto;
  display: flex;
  position: relative;
}
div.plus > div.fast > div.hedi > div.tex {
  font-size: 13px;
  margin-right: 10px;
  margin-left: 190px;
  font-weight: 600;
}
div.plus > div.fast > div.hedi > div.rii > a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  display: block;
  font-weight: 600;
}
div.plus > div.cash > div.za {
  width: 430px;
  height: 116px;

  margin: 0 auto;
  margin: 5px;
}
div.plus > div.cash > div.za > div.zamage {
  display: flex;
}
div.plus > div.cash > div.za > div.zamage > img {
  width: 110px;
  height: 110px;
  margin-right: 25px;
}
div.plus > div.fast > div.za {
  width: 430px;
  height: 116px;

  margin: 0 auto;
  margin: 5px;
}
div.plus > div.fast > div.za > div.zamage {
  display: flex;
}
div.plus > div.fast > div.za > div.zamage > img {
  width: 110px;
  height: 110px;
  margin-right: 25px;
}
/* turky */
div.turkey {
  width: 1345px;
  height: 163px;
  margin: 0 auto;
  margin-top: 40px;
}
div.turkey > img {
  width: 1345px;
  height: 163px;
  margin: 0 auto;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
div.mainread {
  width: 1345px;
  height: 315px;
  display: flex;
  vertical-align: middle;
  margin: 0 auto;
}
div.mainread > div {
  width: 320px;
  height: 270px;
  border: 1px solid #909095;
  border-radius: 13px;
  margin-right: 32px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  overflow: hidden;
}
div.mainread > div > a > img {
  object-fit: cover;
  width: 320px;
  height: 196px;
}
div.mainread > div > a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  display: block;
}
div.mainread > div > a > div {
  width: 310px;
  height: 60px;

  margin-top: -10px;
  padding: 7px;
}
div.withus {
  width: 100%;
  height: 280px;

  display: flex;
  font-size: 17px;
  font-weight: 600;
}
div.withus > div {
  width: 391px;
  height: 271px;

  margin: 5px;
  display: flex;
  flex-direction: column;
}
div.withus > div > a {
  display: block;
  width: 270px;
  height: 25px;

  /* line-height: 25px; */
  margin-bottom: 5px;
  font-size: 14px;
  text-decoration: none;
  color: #989898;
}
div.withus > div.mailus {
  display: flex;
  flex-direction: column;
}
div.withus > div.mailus > a {
  margin-top: 10px;
  display: block;
  display: flex;
  height: 40px;
}
div.withus > div.mailus > a > img {
  display: block;
  margin-left: 20px;
}
div.withus > div.mailus > input {
  font-family: persianfont;
  width: 320px;
  height: 50px;
  justify-content: center;
  display: flex;
  padding-right: 10px;
  border: 1px solid rgb(196, 190, 190);
  border-radius: 10px;
  background-color: #f0f0f1;
  margin-right: 0;
  margin-top: 20px;
}
