


div.am2 {
  width: 100%;
  height: 211px;
  background-color: #ef3e53;
  position: relative;
}
div.am2 > div {
  position: absolute;
  right: calc(50% - 211px / 2);
  top: 30px;
}
div.am2 > div.men {
  width: 1500px;
  height: 120px;
  right: 0px;
  top: 110px;
  display: flex;
}
div.am2 > div.men > div {
  width: 100px;
  height: 70px;
  margin: 27px;
  text-align: center;
  line-height: 50px;
}
div.am2 > div.men > div > a {
  display: block;
  text-decoration: none;

  color: #0f0f0f;
  font-size: 13px;
  font-weight: 600;
}
div.am2 > div.men > div > a > p {
  margin-top: -33px;
  color: white;
  font-size: 16px;
}
div.fat {
  width: 100%;
  height: 400px;
  background-color: #ffffff;
}
div.asuper {
  position: relative;
  width: 1490px;
  height: 102px;
  border-radius: 15px;
  margin: 0 auto;
  background-color: #edefed;
  margin-bottom: 30px;
}
div.asuper > div.fresh {
  display: flex;

  margin: 20px;
}
div.asuper > div.fresh > div > a {
  display: block;
  text-decoration: none;
  background-color: #39ae00;
  width: 112px;
  height: 30px;
  position: absolute;
  left: 970px;
  top: 30px;
  color: white;
  line-height: 30px;
  font-size: 17px;
  text-align: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
div.frshimg {
  position: absolute;
  right: 35 px;
  top: 25px;
}
div.amazsup {
  position: absolute;
  right: 95px;
  top: 30px;
}
div.kala {
  width: 800px;
  height: 105px;
  position: absolute;
  display: flex;

  left: 20px;
  bottom: 5px;
}
div.kala > div {
  background-color: #ffffff;
  width: 85px;
  height: 85px;
  margin: 10px;
  text-align: center;
  line-height: 15px;
  font-size: 15px;
  border-radius: 85px;
  overflow: hidden;
  position: relative;
}
div.kala > div > img {
  top: 10px;
  display: block;
  height: 58px;
  width: 58px;
  position: absolute;
  left: 15px;
}

div.kala > a {
  text-decoration: none;
  width: 123px;
  height: 40px;
  display: block;
  position: absolute;
  background-color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  left: 50px;
  top: 30px;
  font-size: 17px;
  text-align: center;
  background-color: #39ae00;
  color: white;
}
